@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #0b607b;
}


#navbarC {
  display: flex;
  background-color: black;
  transform: translateY(-100%);
  transition: transform .5s cubic-bezier(.4,0,.2,1);
}
#navbarC a {
    color: white;
    text-decoration: none;
}
#navbarC > * {
  padding: 1rem;
}
.nav-containerC:hover #navbar {
  transform: translateY(0);
}



.videoHolster {
  position: relative; width: 100%;
}

.videoHolster video {
  display: block;
}

.videoHolster .buttons {
  position: absolute; bottom: 0; z-index: 1; width: 100%; text-align: center; display: none;
}

.videoHolster:hover .buttons {
  display: block;
}

.vidstage {
  height: 100%;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}